<!DOCTYPE html>
<html>
<head>
    <title>Cattle Details</title>
</head>
<body>
    <h1>Cattle Details</h1>

    <table>
        <thead>
            <tr>
                <th>Ear Tag ID</th>
                <th>Cattle Type</th>
                <th>Breed Name</th>
                <th>Weight (in kg)</th>
                <th>Age (in months)</th>
                <th>Colour</th>
                <th>Health Status</th>
                <th>Height (in cm)</th>
                <th>Feed</th>
                <th>Medicine</th>
                <th>Milk Obtained per Day (in liters)</th>
                <th>Profile Image</th>
            </tr>
        </thead>
        <tbody>
            {% for cattle in seller_cattles %}
            <tr>
                <td>{{ cattle.ear_tag_id }}</td>
                <td>{{ cattle.cattle_type }}</td>
                <td>{{ cattle.breed_name }}</td>
                <td>{{ cattle.weight }}</td>
                <td>{{ cattle.age }}</td>
                <td>{{ cattle.colour }}</td>
                <td>{{ cattle.health_status }}</td>
                <td>{{ cattle.height }}</td>
                <td>{{ cattle.feed }}</td>
                <td>{{ cattle.medicine }}</td>
                <td>{{ cattle.milk_obtained_per_day }}</td>
                <td>
                    <img src="{{ cattle.profile_image.url }}" alt="Cattle Image" style="max-width: 100px;">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
