{% extends 'layout/main.html' %}
{% load static %}

{% block body %}
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .registration-container {
        background-color: #ffffff;
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        max-width: 400px;
        width: 100%;
    }

    h1 {
        color: #333333;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 8px;
        color: #555555;
        font-weight: bold;
    }

    input, select {
        width: 100%;
        padding: 10px;
        border: 1px solid #cccccc;
        border-radius: 5px;
        font-size: 16px;
    }

    .password-input-container {
        position: relative;
    }

    .password-input-container input {
        padding-right: 40px;
    }

    .fa-eye, .fa-eye-slash {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 18px;
        color: #999999;
    }

    button {
        background-color: #3498db;
        color: #ffffff;
        padding: 12px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: #2980b9;
    }

    a {
        margin-top: 15px;
        text-decoration: none;
        color: #3498db;
        font-size: 14px;
    }

    .error-message {
        color: #e74c3c;
        font-size: 14px;
        margin-top: 5px;
        text-align: left;
    }
</style>

    <script>
        // Function to capitalize the first letter of the input field
        function capitalizeFirstLetter(inputId) {
            const input = document.querySelector(`input[name="${inputId}"]`);
            const inputValue = input.value;
            if (inputValue.length > 0) {
                input.value = inputValue.charAt(0).toUpperCase() + inputValue.slice(1);
            }
        }
    
        // Function to validate the doctor license format
        function validateDoctorLicense() {
            const doctorLicenseInput = document.querySelector('input[name="doctor_license"]');
            const doctorLicenseValue = doctorLicenseInput.value;
            const doctorLicensePattern = /^D-\d{5}$/; // Assuming the pattern is D- followed by exactly 5 digits
            const doctorLicenseError = document.querySelector('#doctorLicenseError');
    
            if (!doctorLicensePattern.test(doctorLicenseValue)) {
                doctorLicenseError.textContent = 'Doctor License format should be D- followed by exactly 5 digits';
            } else {
                doctorLicenseError.textContent = '';
            }
        }
    
        // Function to validate the mobile number
        function validatemobileNumber() {
            const mobileInput = document.querySelector('input[name="mobile"]');
            const mobileValue = mobileInput.value;
            const mobilePattern = /^(9|8|7|6)[0-9]{9}$/; // Assuming Indian standard format
            const mobileError = document.querySelector('#mobileError');
    
            if (!mobilePattern.test(mobileValue)) {
                mobileError.textContent = 'Invalid mobile number format';
            } else {
                mobileError.textContent = '';
            }
        }
    
        // Function to validate the email format
        function validateEmail() {
            const emailInput = document.querySelector('input[name="email"]');
            const emailValue = emailInput.value;
            const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
            const emailError = document.querySelector('#emailError');
    
            if (!emailPattern.test(emailValue)) {
                emailError.textContent = 'Invalid email format';
            } else {
                emailError.textContent = '';
            }
        }
    
        // Function to validate the password format
        function validatePassword() {
            const passwordInput = document.querySelector('input[name="password"]');
            const passwordValue = passwordInput.value;
            const passwordPattern = /^(?=.*[0-9])(?=.*[!@#$%^&*])([a-zA-Z0-9!@#$%^&*]+){6,}$/;
            const passwordError = document.querySelector('#passwordError');
    
            if (!passwordPattern.test(passwordValue)) {
                passwordError.innerHTML = "Password must be:<br>6 characters!<br>at least one number!<br>at least one special symbol!";
            } else {
                passwordError.textContent = '';
            }
        }
    
        // Function to validate the confirm password
        function validateConfirmPassword() {
            const passwordInput = document.querySelector('input[name="password"]');
            const confirmPasswordInput = document.querySelector('input[name="confirmpassword"]');
            const confirmPasswordError = document.querySelector('#confirmpasswordError');
    
            if (passwordInput.value !== confirmPasswordInput.value) {
                confirmPasswordError.textContent = 'Passwords do not match';
            } else {
                confirmPasswordError.textContent = '';
            }
        }
    
        // Function to toggle password visibility
        function togglePasswordVisibility(inputId) {
            const passwordInput = document.querySelector(`input[name="${inputId}"]`);
            const passwordToggle = document.querySelector(`#${inputId}Toggle`);
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                passwordToggle.classList.add('fa-eye-slash');
                passwordToggle.classList.remove('fa-eye');
            } else {
                passwordInput.type = 'password';
                passwordToggle.classList.add('fa-eye');
                passwordToggle.classList.remove('fa-eye-slash');
            }
        }
    
        // Function to validate the entire form
        function validateForm() {
            // Add additional validations if needed
            validateDoctorLicense();
            validateEmail();
            validatemobileNumber();
            validatePassword();
            validateConfirmPassword();
    
            // Example: Check if any error messages are present
            const errorMessages = document.querySelectorAll('.error-message');
            for (const errorMessage of errorMessages) {
                if (errorMessage.textContent !== '') {
                    return false; // Prevent form submission if there are errors
                }
            }
    
            return true; // Allow form submission if no errors
        }
    </script>
    
    <body>
        <div class="registration-container">
            <h1>Veterinarian Registration</h1>
            <form method="POST" action="{% url 'v_register' %}" onsubmit="return validateForm()">
                {% csrf_token %}
                <div class="form-group">
                    <label for="doctor_name"></label>
                    <input type="text" name="doctor_name" id="doctor_name" placeholder="Doctor Name" required oninput="capitalizeFirstLetter('doctor_name')">
                    <div class="error-message" id="doctorNameError"></div>
                </div>
                <div class="form-group">
                    <label for="email"></label>
                    <input type="email" name="email" id="email" placeholder="Email" required oninput="validateEmail()">
                    <div class="error-message" id="emailError"></div>
                </div>
                <div class="form-group">
                    <label for="mobile"></label>
                    <div class="mobile-input-container">
                        <input type="text" name="mobile" id="mobile" placeholder="Mobile" required oninput="validatemobileNumber()">
                    </div>
                    <div class="error-message" id="mobileError"></div>
                </div>
                <div class="form-group">
                    <label for="doctor_license"></label>
                    <div class="doctorlicense-input-container">
                        <input type="text" name="doctor_license" id="doctor_license" placeholder="Doctor License" required oninput="validateDoctorLicense()">
                    </div>
                    <div class="error-message" id="doctorLicenseError"></div>
                </div>
                
                <div class="form-group">
                    <label for="password"></label>
                    <div class="password-input-container">
                        <input type="password" name="password" id="password" placeholder="Password" required oninput="validatePassword()">
                        <i class="fa fa-eye" id="passwordToggle" onclick="togglePasswordVisibility('password')"></i>
                    </div>
                    <div class="error-message" id="passwordError"></div>
                </div>
                <div class="form-group">
                    <label for="confirmpassword"></label>
                    <div class="password-input-container">
                        <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirm Password" required oninput="validateConfirmPassword()">
                        <i class="fa fa-eye" id="confirmpasswordToggle" onclick="togglePasswordVisibility('confirmpassword')"></i>
                    </div>
                    <div class="error-message" id="confirmpasswordError"></div>
                </div>
                <div class="form-group">
                    <label for="started_year"></label>
                    <input type="date" name="started_year" id="started_year" placeholder="Start Year" required>
                    <div class="error-message" id="startedYearError"></div>
                </div>
                <div class="form-group">
                    <label for="specialization">Specialization:</label>
                    <select name="specialization" id="specialization">
                        <option value="Bovine Practitioner">Bovine Practitioner</option>
                        <option value="Reproductive Specialist">Reproductive Specialist</option>
                        <option value="Herd Health Veterinarian">Herd Health Veterinarian</option>
                        <option value="Cattle Surgery Specialist">Cattle Surgery Specialist</option>
                        <option value="Food Animal Veterinarian">Food Animal Veterinarian</option>
                        <option value="Veterinary Epidemiologist">Veterinary Epidemiologist</option>
                        <option value="Dairy Cattle Veterinarian">Dairy Cattle Veterinarian</option>
                    </select>
                    <div class="error-message" id="specializationError"></div>
                </div>
                <div class="form-group">
                    <button type="submit">SignUp</button>
                </div>
            </form>
            <div id="alert" style="display: none;"></div>
            <a href="{% url 'login' %}">Already have an account? Login</a>
            <div id="alert">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </body>
{% endblock body %}
