<!-- Main Content -->
<div class="content">
    <header>
        <h1> </h1>
    </header>
    <main>
        <div id="dashboard-content"></div>
    </main>
    <a href="{% url 'product_detail' %}">
        <img src="{% static 'img/e.jpg' %}" alt="Dashboard Image" style="width: 30%; height: 30%; border: 2px solid #e4cccc; border-radius: 8px;">
    </a>
    <a href="{% url 'product_detail' %}">
        <img src="{% static 'img/e.jpg' %}" alt="Dashboard Image" style="width: 30%; height: 30%; border: 2px solid #e4cccc; border-radius: 8px;">
    </a>
    <a href="{% url 'product_detail' %}">
        <img src="{% static 'img/e.jpg' %}" alt="Dashboard Image" style="width: 30%; height: 30%; border: 2px solid #e4cccc; border-radius: 8px;">
    </a>
</div>
