<!-- customer_navbar.html -->
{% load static %}

<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <a href="{%  url 'home' %}" >
            <img class="img-fluid" src="{% static '/img/logo.jpeg' %}" height="80" width="80" alt="Logo">
        </a>
        <ul class="navbar-nav navbar-nav-right">   
            <li class="nav-item nav-profile dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'customer_profile' %}" data-toggle="dropdown" id="profileDropdown">
                    {% if customer_profile.profile_photo %}
                        <img src="{{ customer_profile.profile_photo.url }}" alt="Profile Photo" height="60" width="60" style="border-radius: 50%; object-fit: cover;"> {{ customer_profile.first_name }} {{ customer_profile.last_name }}
                    {% else %}
                        <i class="ti-user"></i>
                    {% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                    <a class="dropdown-item" href="{% url 'seller_password_change' %}" data-url="{% url 'seller_password_change' %}">
                        <i class="fas fa-key"></i> Change Password
                    </a>
                    <a class="dropdown-item" href="{% url 'logout' %}">
                        <i class="ti-power-off text-primary"></i>
                        Logout
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
