{% load static %}
<!DOCTYPE html>
<html lang="en">
    <body>
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5">
<a href="{%  url 'home' %}" class="navbar-brand d-flex align-items-center">
            <img class="img-fluid" src="{% static '/img/logo.jpeg' %}" height="200" width="100" alt="Logo">
</a>
    <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="{%  url 'home' %}"class="nav-item nav-link active">Home</a>
            <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
            <a href="{% url 'product_detail' %}" class="nav-item nav-link">Product</a>
            <a href="{% url 'meetinglist' %}" class="nav-item nav-link">Events</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Team</a>
                <div class="dropdown-menu bg-light rounded-0 m-0">
                    <a href="{% url 'team' %}" class="dropdown-item">Our  sellers</a>
                    <a href="{% url 'vet_team' %}" class="dropdown-item">Our  Doctors</a>
                    
                </div>
            </div>
            
            <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
        </div>
    </div>
</nav>
</body>
</html>