<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ cattle_form.as_p }}
    <input type="submit" value="Add Cattle">
</form>

{% if cattle_form.instance.vaccination %}
    <form method="POST">
        {% csrf_token %}
        {{ vaccination_form.as_p }}
        <input type="submit" value="Add Vaccination">
    </form>
{% endif %}

{% if cattle_form.instance.insurance %}
    <form method="POST">
        {% csrf_token %}
        {{ insurance_form.as_p }}
        <input type="submit" value="Add Insurance">
    </form>
{% endif %}
