<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Breeds</title>
    <style>

    </style>
</head>
<body>
    {% if breeds %}
        <ul>
            {% for breed in breeds %}
                <li>
                    {{ breed.name }} - {{ breed.cattle_type }}
                    <a href="{% if breed.id %}{% url 'delete_breed' breed.id %}{% endif %}">Delete</a>
                </li>
            {% endfor %}
            <a class="add-breed-link" href="{% url 'add_breed' %}">Add Breed</a>

        </ul>
    {% else %}
        <p>No breeds available.</p>
    {% endif %}
</body>
</html>
