<!-- all_milk_details.html -->
<div>
    <h1>All Milk Details</h1>
    <form method="get" action="{% url 'all_milk_details' %}">
        <label for="date">Select Date:</label>
        <input type="date" name="date" id="date" value="{{ request.GET.date }}">
        <label for="seller">Select Seller:</label>
        <select name="seller" id="seller">
            <option value="">-- All Sellers --</option>
            {% if sellers %}
                {% for seller in sellers %}
                    <option value="{{ seller.name }}" {% if request.GET.seller == seller.name %}selected{% endif %}>
                        {{ seller.name }}
                    </option>
                {% endfor %}
            {% else %}
                <option value="" disabled>No data available</option>
            {% endif %}
        </select>
        <button type="submit">Filter</button>
    </form>
  <a href="{% url 'add_milk_details' %}">
      <button>Add Milk Details</button>
  </a>
  <a href="{% url 'milk_parameters' %}" style="float: right;">
    <button>Normal Milk Parameters</button>
</a>
  <table>
      <thead>
          <tr>
              <th>Seller</th>
              <th>Cattle</th>
              <th>Collection Date</th>
              <th>Quantity</th>
              <th>Density Level</th>
              <th>Price</th>
              <th>Description</th>
              <th>Actions</th>
              <th>Sample test report</th>
          </tr>
      </thead>
      <tbody>
          {% for milk_detail in all_milk_details %}
          <tr>
              <td>{{ milk_detail.seller }}</td>
              <td>{{ milk_detail.milk_type }}</td>
              <td>{{ milk_detail.collection_date }}</td>
              <td>{{ milk_detail.quantity }}</td>
              <td>{{ milk_detail.quality_test_report }}</td>
              <td>{{ milk_detail.price }}</td>
              <td>{{ milk_detail.description }}</td>
              <td>
                  <a href="{% url 'edit_milk_details' milk_detail.pk %}">
                      <button>Edit</button>
                  </a>
              </td>
              <td><a href="{% url 'addSample_test' %}"><button>Click Here</button></a></td> <!-- Link to detailed view -->
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>

<style>
  /* Add styling for the table */
  table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
  }

  th,
  td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
  }

  th {
      background-color: #f2f2f2;
  }
  .milk-details-container {
    max-width: 800px;
    margin: 0 auto;
}

.action-button {
    margin-top: 10px;
    margin-right: 10px;
    text-decoration: none;
}

.action-button button {
    padding: 8px 16px;
    font-size: 14px;
}

.action-link {
    text-decoration: none;
}
</style>
