<!-- all_milk_details.html -->
<div>
    <h1>All Milk Details</h1>
    <td><a href="{% url 'milk_parameters' %}">Normal Milk Count</a></td> <!-- Link to detailed view -->
    <form method="get">
        <label for="date">Select Date:</label>
        <input type="date" name="date" id="date">

        <label for="seller">Select Seller:</label>
        <select name="seller" id="seller">
            <option value="">-- All Sellers --</option>
            {% for seller in sellers %}
                <option value="{{ seller.name }}">{{ seller.name }}</option>
            {% endfor %}
        </select>

        <button type="submit">Filter</button>
    </form>
  <a href="{% url 'add_milk_details' %}">
      <button>Add Milk Details</button>
  </a>
  <table>
      <thead>
          <tr>
              <th>Seller</th>
              <th>Cattle</th>
              <th>Collection Date</th>
              <th>Quantity</th>
              <th>Density Level</th>
              <th>Price</th>
              <th>Description</th>
              <th>Actions</th>
              <th>Sample test report</th>
          </tr>
      </thead>
      <tbody>
          {% for milk_detail in all_milk_details %}
          <tr>
              <td>{{ milk_detail.seller }}</td>
              <td>{{ milk_detail.milk_type }}</td>
              <td>{{ milk_detail.collection_date }}</td>
              <td>{{ milk_detail.quantity }}</td>
              <td>{{ milk_detail.quality_test_report }}</td>
              <td>{{ milk_detail.price }}</td>
              <td>{{ milk_detail.description }}</td>
              <td>
                  <a href="{% url 'edit_milk_details' milk_detail.pk %}">
                      <button>Edit</button>
                  </a>
              </td>
              <td><a href="{% url 'addSample_test' %}">Click Here</a></td> <!-- Link to detailed view -->
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>

<style>
  /* Add styling for the table */
  table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
  }

  th,
  td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
  }

  th {
      background-color: #f2f2f2;
  }
</style>
