{% extends 'layout/main.html' %}
{% load static %}

{% block body %}
    <h2>Pending Delivery Boys</h2>

    <form method="post">
        {% csrf_token %}
        {% for delivery_boy in pending_delivery_boys %}
            <div>
                <label for="id_status">{{ delivery_boy.first_name }} {{ delivery_boy.last_name }}</label>
                <select name="delivery_boy_{{ delivery_boy.id }}_status" id="id_status">
                    <option value="Pending" selected>Pending</option>
                    <option value="Approved">Approved</option>
                    <option value="Rejected">Rejected</option>
                </select>
            </div>
        {% endfor %}
        <button type="submit">Update Status</button>
    </form>
{% endblock %}
