<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pending Seller Approval</title>
    <style>

    </style>
</head>
<body>
    <h1>Pending Seller Approval</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Farmer License</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for seller in pending_sellers %}
            <tr>
                <td>{{ seller.first_name }} {{ seller.last_name }}</td>
                <td>{{ seller.user.email }}</td>
                <td>{{ seller.farmer_license }}</td>
                <td>
                    <a href="{% url 'approve_seller' seller.user.email %}">Approve</a>
                    <a href="{% url 'reject_seller' seller.user.email %}">Reject</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>
    <h1>Approved Sellers</h1>
    <ul>
       
    </ul>
</body>
</html>
